@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,600;0,700;1,600&display=swap');

.containerhome {
    align-items: center;
    justify-items: center;
}

.header {
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 7.2vw auto 0;
}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        align-items: center;
        width: 65vw;
        margin: 7.2vw auto 0;
    }
}

.p1 {
    color: #7F56D9;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}

h1 {
    color: #101828;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}

.p2 {
    color: #667085;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
}

.ant-form-inline .ant-form-item {
    flex: none;
    margin-inline-end: 0px;
    margin-bottom: 0;
}

.loginform {
    width: 24.5vw;
    height: 3.2vw;
}

@media (max-width: 768px) {
    .loginform {
        width: 90vw;
        height: 12vw;
    }
}

.button-login {
    background-color: #7F56D9;
    width: 8vw;
    height: 3.2vw;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    .button-login {
        background-color: #7F56D9;
        width: 90vw;
        height: 12vw;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}

.ant-input::placeholder {
    color: #667085;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.p-login {
    color: #667085;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: -0.1em;
}

.p-login a {
    color: #667085;
    text-decoration: underline;
}

.recent-blogs {
    padding: 5vw;
}

.image-1 {
    width: 44vw;
    height: 17vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-1 {
        width: 85vw;
        height: 200px;
        object-fit: cover;
    }
}

h2 {
    color: #101828;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

@media (max-width: 768px) {
    .recent {
        margin: 2em 0em;
    }
}

.container-recent {
    margin: 0 0 1em 2em;
}

@media (max-width: 768px) {
    .container-recent {
        margin: 1em 0;
    }
}

.image-recent {
    width: 23.4vw;
    height: 14.6vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-recent {
        width: 85vw;
        height: 200px;
        object-fit: cover;
    }
}

.text-recent {
    padding-left: 3em;
}

@media (max-width: 768px) {
    .text-recent {
        padding-left: 0.2em;
    }
}

.p-recent-blog-author {
    color: #6941C6;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 768px) {
    .p-recent-blog-author {
        color: #6941C6;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}


.p-all-blog-author {
    color: #6941C6;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    width: 100%;

}

.h3-recent-blog-title {
    color: #101828;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.p-recent-blog-paragraph {
    color: #667085;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.items {
    display: flex;
    justify-content: space-evenly;
}

.p-item1 {
    color: #026AA2;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.p-item2 {
    color: #C11574;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.p-item3 {
    color: #C4320A;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.button-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F9FF;
    width: 67px;
    height: 24px;
    border-radius: 16px;
}

.button-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF2FA;
    width: 83px;
    height: 24px;
    border-radius: 16px;
}

.button-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF6ED;
    width: 106px;
    height: 24px;
    border-radius: 16px;
}

.all-blogs {
    padding: 0 5vw;
}

.image-all {
    width: 384px;
    height: 240px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-all {
        width: 90vw;
        height: 200px;
        object-fit: cover;
    }
}

.h3-all-blog-title {
    color: #101828;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    margin-block-start: 0;
    margin-block-end: 0;
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin: 5vw;
}

.ant-pagination-options-quick-jumper {
    display: flex;
    justify-content: space-around;
}